<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-login-image position-relative">
            <div class="bg-overlay"></div>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="row g-3 text-center">
                <div class="col">
                  <h2 class="h5 text-gray-900 mb-1">Informática UNLP - Gestión Dirección de Accesibilidad</h2>
                  <h1 class="h4 text-gray-900 mb-4">Bienvenid&#64;</h1>
                </div>
              </div>
              <form class="user row g-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="col-12">
                  <div class="form-floating">
                    <input type="email" id="inputEmail" class="form-control form-control-user rounded-pill"
                           [class.is-invalid]="isInvalid(email)" [class.is-valid]="isValid(email)"
                           placeholder="E-mail" name="email" formControlName="email" required
                           aria-describedby="emailFeedback" autocomplete="username">
                    <label for="inputEmail">E-mail:</label>
                    <div id="emailFeedback" class="invalid-feedback">
                      {{ email?.errors?.['required'] ? 'El e-mail es obligatorio.' : '' }}
                      {{ email?.errors?.['email'] ? 'Ingresa un e-mail válido.' : '' }}
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input type="password" id="inputPassword" class="form-control form-control-user rounded-pill"
                           [class.is-invalid]="isInvalid(password)" [class.is-valid]="isValid(password)"
                           placeholder="Contraseña" name="password" formControlName="password" required
                           aria-describedby="passwordFeedback" autocomplete="current-password">
                    <label for="inputPassword">Contraseña:</label>
                    <div id="passwordFeedback" class="invalid-feedback">
                      {{ password?.errors?.['required'] ? 'La contraseña es obligatoria.' : '' }}
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-check small">
                    <input type="checkbox" id="inputRememberMe" class="form-check-input"
                           [class.is-invalid]="isInvalid(rememberMe)" [class.is-valid]="isValid(rememberMe)"
                           name="rememberMe" formControlName="rememberMe">
                    <label class="form-check-label" for="inputRememberMe">
                      Recordarme
                    </label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-user rounded-pill"
                            [disabled]="!loginForm.valid || isDoingLogin">
                      @if (!isDoingLogin) {
                        Ingresar
                      } @else {
                        <output aria-live="polite">
                          <span class="spinner-border spinner-border-sm"></span> Ingresando...
                        </output>
                      }
                    </button>
                  </div>
                  <hr>
                  <div class="d-grid gap-3">
                    <button type="button" class="btn btn-google btn-user rounded-pill disabled">
                      <fa-icon [icon]="googleIcon" [fixedWidth]="true"></fa-icon>
                      Ingresar con Google
                    </button>
                    <button type="button" class="btn btn-facebook btn-user rounded-pill disabled">
                      <fa-icon [icon]="facebookIcon" [fixedWidth]="true"></fa-icon>
                      Ingresar con Facebook
                    </button>
                  </div>
                </div>
              </form>
              <div class="row g-3 text-center">
                <div class="col-12">
                  <hr>
                  <a class="small link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
                     routerLink="/auth/recuperar-clave">Olvidé mi contraseña</a>
                  <br>
                  <a class="small link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
                     routerLink="/auth/signup">Crear una cuenta</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
