<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow px-3">
  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle me-3" (click)="toggleSideNavigation()">
    <fa-icon [icon]="iconBars"></fa-icon>
  </button>

  @if (showSearchBar) {
    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
      <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
               aria-label="Search" aria-describedby="basic-addon2">
        <button class="btn btn-primary" type="button">
          <fa-icon [icon]="iconSearch" size="sm"></fa-icon>
        </button>
      </div>
    </form>
  }

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ms-auto">
    @if (showSearchBar) {
      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
      <li ngbDropdown class="nav-item no-arrow d-sm-none">
        <button ngbDropdownToggle type="button" class="btn btn-link nav-link" id="searchDropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <fa-icon [icon]="iconSearch" [fixedWidth]="true"></fa-icon>
        </button>
        <!-- Dropdown - Search -->
        <div ngbDropdownMenu class="dropdown-menu-end p-3 shadow animated--grow-in"
             aria-labelledby="searchDropdown">
          <form class="form-inline me-auto w-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small"
                     placeholder="Search for..." aria-label="Search"
                     aria-describedby="basic-addon2">
              <button class="btn btn-primary" type="button">
                <fa-icon [icon]="iconSearch" size="sm"></fa-icon>
              </button>
            </div>
          </form>
        </div>
      </li>
    }

    @if (isUserLoggedIn) {
      @if (showNotifications) {
        <!-- Nav Item - Alerts -->
        <li ngbDropdown class="nav-item no-arrow mx-1">
          <button ngbDropdownToggle type="button" class="btn btn-link nav-link" id="alertsDropdown"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <fa-icon [icon]="iconAlerts" [fixedWidth]="true"></fa-icon>
            <!-- Counter - Alerts -->
            <span class="badge bg-danger badge-counter position-absolute top-0 start-50 mt-3 p-1">3+</span>
          </button>
          <!-- Dropdown - Alerts -->
          <div ngbDropdownMenu class="dropdown-list dropdown-menu-end shadow animated--grow-in"
               aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">Alerts Center</h6>
            <a ngbDropdownItem class="d-flex align-items-center" href="#">
              <div class="me-3">
                <div class="icon-circle bg-primary">
                  <fa-icon class="text-white" [icon]="iconFiles"></fa-icon>
                </div>
              </div>
              <div>
                <div class="small text-gray-500">December 12, 2019</div>
                <span class="fw-bold">A new monthly report is ready to download!</span>
              </div>
            </a>
            <a ngbDropdownItem class="d-flex align-items-center" href="#">
              <div class="me-3">
                <div class="icon-circle bg-success">
                  <fa-icon class="text-white" [icon]="iconFiles"></fa-icon>
                </div>
              </div>
              <div>
                <div class="small text-gray-500">December 7, 2019</div>
                $290.29 has been deposited into your account!
              </div>
            </a>
            <a ngbDropdownItem class="d-flex align-items-center" href="#">
              <div class="me-3">
                <div class="icon-circle bg-warning">
                  <fa-icon class="text-white" [icon]="iconFiles"></fa-icon>
                </div>
              </div>
              <div>
                <div class="small text-gray-500">December 2, 2019</div>
                Spending Alert: We've noticed unusually high spending for your account.
              </div>
            </a>
            <a ngbDropdownItem class="text-center small text-gray-500" href="#">Show All Alerts</a>
          </div>
        </li>
      }

      @if (showMessages) {
        <!-- Nav Item - Messages -->
        <li ngbDropdown class="nav-item no-arrow mx-1">
          <button ngbDropdownToggle type="button" class="btn btn-link nav-link" id="messagesDropdown"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <fa-icon [icon]="iconMessages" [fixedWidth]="true"></fa-icon>
            <!-- Counter - Messages -->
            <span class="badge bg-danger badge-counter position-absolute top-0 start-50 mt-3 p-1">7</span>
          </button>
          <!-- Dropdown - Messages -->
          <div ngbDropdownMenu class="dropdown-list dropdown-menu-end shadow animated--grow-in"
               aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">
              Message Center
            </h6>
            <a ngbDropdownItem class="d-flex align-items-center" href="#">
              <div class="dropdown-list-image me-3">
                <img class="rounded-circle" src="/assets/img/undraw_profile_1.svg"
                     alt="...">
                <div class="status-indicator bg-success"></div>
              </div>
              <div class="fw-bold">
                <div class="text-truncate">Hi there! I am wondering if you can help me with a
                  problem I've been having.
                </div>
                <div class="small text-gray-500">Emily Fowler · 58m</div>
              </div>
            </a>
            <a ngbDropdownItem class="d-flex align-items-center" href="#">
              <div class="dropdown-list-image me-3">
                <img class="rounded-circle" src="/assets/img/undraw_profile_2.svg"
                     alt="...">
                <div class="status-indicator"></div>
              </div>
              <div>
                <div class="text-truncate">I have the photos that you ordered last month, how
                  would you like them sent to you?
                </div>
                <div class="small text-gray-500">Jae Chun · 1d</div>
              </div>
            </a>
            <a ngbDropdownItem class="d-flex align-items-center" href="#">
              <div class="dropdown-list-image me-3">
                <img class="rounded-circle" src="/assets/img/undraw_profile_3.svg"
                     alt="...">
                <div class="status-indicator bg-warning"></div>
              </div>
              <div>
                <div class="text-truncate">Last month's report looks great, I am very happy with
                  the progress so far, keep up the good work!
                </div>
                <div class="small text-gray-500">Morgan Alvarez · 2d</div>
              </div>
            </a>
            <a ngbDropdownItem class="d-flex align-items-center" href="#">
              <div class="dropdown-list-image me-3">
                <img class="rounded-circle" src="/assets/img/undraw_profile.svg"
                     alt="...">
                <div class="status-indicator bg-success"></div>
              </div>
              <div>
                <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                  told me that people say this to all dogs, even if they aren't good...
                </div>
                <div class="small text-gray-500">Chicken the Dog · 2w</div>
              </div>
            </a>
            <a ngbDropdownItem class="text-center small text-gray-500" href="#">Read More Messages</a>
          </div>
        </li>
      }

      @if (showNotifications || showMessages) {
        <div class="topbar-divider d-none d-sm-block"></div>
      }

      <!-- Nav Item - User Information -->
      <li ngbDropdown class="nav-item no-arrow">
        <button ngbDropdownToggle type="button" class="btn btn-link nav-link" id="userDropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="me-2 d-none d-lg-inline text-gray-600 small">{{ userDisplayName }}</span>
          <img class="img-profile rounded-circle" width="16" height="16" alt="Profile" ngSrc="{{userProfilePhoto}}">
        </button>

        <!-- Dropdown - User Information -->
        <div ngbDropdownMenu class="dropdown-menu-end shadow animated--grow-in"
             aria-labelledby="userDropdown">
          @if (showUserPages) {
            <button ngbDropdownItem>
              <fa-icon class="me-2 text-gray-400" [icon]="iconProfile" [fixedWidth]="true" size="sm"></fa-icon>
              Perfil
            </button>
            <button ngbDropdownItem>
              <fa-icon class="me-2 text-gray-400" [icon]="iconSettings" [fixedWidth]="true" size="sm"></fa-icon>
              Configuración
            </button>
            <button ngbDropdownItem>
              <fa-icon class="me-2 text-gray-400" [icon]="iconActivity" [fixedWidth]="true" size="sm"></fa-icon>
              Actividad
            </button>
            <div class="dropdown-divider"></div>
          }
          <button ngbDropdownItem (click)="onLogoutClick()">
            <fa-icon class="me-2 text-gray-400" [icon]="iconLogout" [fixedWidth]="true" size="sm"></fa-icon>
            Cerrar Sesión
          </button>
        </div>
      </li>
    }
  </ul>
</nav>
