<app-crud-layout [labels]="labels"
                 [dtColumns]="dtColumns"
                 [dtSource]="dtSource"
                 [entityModalBodyTemplate]="createModal"
                 [formInvalid]="!modelForm.valid"
                 [isSaving]="isCreating || isUpdating"
                 [isDeleting]="isDeleting"
                 [(isEditionEnabled)]="isEditing"
                 [isEntityModified]="isModified()"
                 (entityModalOpen)="onEntityModalOpen($event)"
                 (entityModalSave)="onSave($event)"
                 (entityModalDelete)="onDelete()"></app-crud-layout>

<ng-template #createModal let-modal>
  <form class="row g-3" [formGroup]="modelForm" (ngSubmit)="onSave(modal)" autocomplete="off">
    <div class="col-12 col-md-6">
      <label for="inputPersonaId" class="form-label required">Persona:</label>
      <input type="text" id="inputPersonaId" class="form-control"
             [class.is-invalid]="!readonlyInputs && (isInvalid(personaId) || isInvalid(_persona))"
             [class.is-valid]="!readonlyInputs && isValid(personaId)"
             placeholder="Escriba un nombre" name="_persona" formControlName="_persona" required
             aria-describedby="personaIdFeedback" [readonly]="readonlyInputs"
             [inputFormatter]="personaFormatter" [resultFormatter]="personaFormatter" [ngbTypeahead]="searchPersona"
             (selectItem)="onSelectPersona($event)" (blur)="onBlurPersona()" container="body">
      <div id="personaIdFeedback" class="invalid-feedback">
        {{ personaId?.errors?.['required'] || _persona?.errors?.['required'] ? 'La Persona es obligatoria.' : '' }}
        {{ personaId?.errors?.['backend'] ?? '' }}
      </div>
    </div>
    <div class="col-12 col-md-6">
      <label for="inputUsuarioId" class="form-label required">Usuario:</label>
      <input type="text" id="inputUsuarioId" class="form-control"
             [class.is-invalid]="!readonlyInputs && (isInvalid(usuarioId) || isInvalid(_usuario))"
             [class.is-valid]="!readonlyInputs && isValid(usuarioId)"
             placeholder="Escriba un correo" name="_usuario" formControlName="_usuario" required
             aria-describedby="usuarioIdFeedback" [readonly]="readonlyInputs"
             [inputFormatter]="usuarioFormatter" [resultFormatter]="usuarioFormatter" [ngbTypeahead]="searchUsuario"
             (selectItem)="onSelectUsuario($event)" (blur)="onBlurUsuario()" container="body">
      <div id="usuarioIdFeedback" class="invalid-feedback">
        {{ usuarioId?.errors?.['required'] || _usuario?.errors?.['required'] ? 'El Usuario es obligatorio.' : '' }}
        {{ usuarioId?.errors?.['backend'] ?? '' }}
      </div>
    </div>
    <div class="col-12 col-md-6">
      <label for="inputHorasAsignadas" class="form-label required">Horas Asignadas:</label>
      <input type="number" id="inputHorasAsignadas" class="form-control"
             [class.is-invalid]="!readonlyInputs && isInvalid(horasAsignadas)"
             [class.is-valid]="!readonlyInputs && isValid(horasAsignadas)"
             placeholder="4" name="horasAsignadas" formControlName="horasAsignadas" required
             minlength="1" maxlength="1" min="1" max="8"
             aria-describedby="horasAsignadasHelp horasAsignadasFeedback" [readonly]="readonlyInputs">
      <div id="horasAsignadasHelp" class="form-text">
        Valores entre 1 y 8.
      </div>
      <div id="horasAsignadasFeedback" class="invalid-feedback">
        {{ horasAsignadas?.errors?.['required'] ? 'La cantidad de horas asignadas es obligatoria.' : '' }}
        {{ (horasAsignadas?.errors?.['min'] || horasAsignadas?.errors?.['max'] || horasAsignadas?.errors?.['pattern']) ? 'Ingresa una cantidad válida.' : '' }}
        {{ horasAsignadas?.errors?.['backend'] ?? '' }}
      </div>
    </div>
    <button type="submit" class="d-none"
            [disabled]="!modelForm.valid || isCreating || isUpdating"><!--Permite hacer submit con ENTER--></button>
  </form>
</ng-template>
