<app-crud-layout [labels]="labels"
                 [dtColumns]="dtColumns"
                 [dtSource]="dtSource"
                 [entityModalBodyTemplate]="createModal"
                 [formInvalid]="!modelForm.valid"
                 [isSaving]="isCreating || isUpdating"
                 [isDeleting]="isDeleting"
                 [(isEditionEnabled)]="isEditing"
                 [isEntityModified]="isModified()"
                 (entityModalOpen)="onEntityModalOpen($event)"
                 (entityModalSave)="onSave($event)"
                 (entityModalDelete)="onDelete()"></app-crud-layout>

<ng-template #createModal let-modal>
  <form class="row g-3" [formGroup]="modelForm" (ngSubmit)="onSave(modal)" autocomplete="off">
    <div class="col-12 col-md-6">
      <label for="inputPersonaId" class="form-label required"
             [class.click-disabled]="readonlyInputs">Persona:</label>
      <!-- TODO: convertir a Typehead -->
      <select id="inputPersonaId" class="form-select"
              [class.is-invalid]="!readonlyInputs && isInvalid(personaId)"
              [class.is-valid]="!readonlyInputs && isValid(personaId)"
              name="personaId" formControlName="personaId" required
              aria-describedby="personaIdFeedback"
              [class.select-readonly]="readonlyInputs" [tabIndex]="readonlyInputs? -1 : undefined">
        <option value="">Seleccionar...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option [ngValue]="3">Three</option>
      </select>
      <div id="personaIdFeedback" class="invalid-feedback">
        {{ personaId?.errors?.['required'] ? 'La Persona es obligatoria.' : '' }}
        {{ personaId?.errors?.['backend'] ?? '' }}
      </div>
    </div>
    <div class="col-12 col-md-6">
      <label for="inputUsuarioId" class="form-label required"
             [class.click-disabled]="readonlyInputs">Usuario:</label>
      <!-- TODO: convertir a Typehead -->
      <select id="inputUsuarioId" class="form-select"
              [class.is-invalid]="!readonlyInputs && isInvalid(usuarioId)"
              [class.is-valid]="!readonlyInputs && isValid(usuarioId)"
              name="usuarioId" formControlName="usuarioId" required
              aria-describedby="usuarioIdFeedback"
              [class.select-readonly]="readonlyInputs" [tabIndex]="readonlyInputs? -1 : undefined">
        <option value="">Seleccionar...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option [ngValue]="3">Three</option>
      </select>
      <div id="usuarioIdFeedback" class="invalid-feedback">
        {{ usuarioId?.errors?.['required'] ? 'El Usuario es obligatorio.' : '' }}
        {{ usuarioId?.errors?.['backend'] ?? '' }}
      </div>
    </div>
    <div class="col-12 col-md-6">
      <label for="inputHorasAsignadas" class="form-label required">Horas Asignadas:</label>
      <input type="number" id="inputHorasAsignadas" class="form-control"
             [class.is-invalid]="!readonlyInputs && isInvalid(horasAsignadas)"
             [class.is-valid]="!readonlyInputs && isValid(horasAsignadas)"
             placeholder="4" name="horasAsignadas" formControlName="horasAsignadas" required
             minlength="1" maxlength="1" min="1" max="8"
             aria-describedby="horasAsignadasHelp horasAsignadasFeedback" [readonly]="readonlyInputs">
      <div id="horasAsignadasHelp" class="form-text">
        Valores entre 1 y 8.
      </div>
      <div id="horasAsignadasFeedback" class="invalid-feedback">
        {{ horasAsignadas?.errors?.['required'] ? 'La cantidad de horas asignadas es obligatoria.' : '' }}
        {{ (horasAsignadas?.errors?.['min'] || horasAsignadas?.errors?.['max'] || horasAsignadas?.errors?.['pattern']) ? 'Ingresa una cantidad válida.' : '' }}
        {{ horasAsignadas?.errors?.['backend'] ?? '' }}
      </div>
    </div>
    <button type="submit" class="d-none"
            [disabled]="!modelForm.valid || isCreating || isUpdating"><!--Permite hacer submit con ENTER--></button>
  </form>
</ng-template>
