<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <div class="row">
      <div class="col-lg-5 d-none d-lg-block bg-register-image position-relative">
        <div class="bg-overlay"></div>
      </div>
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h2 class="h5 text-gray-900 mb-1">UNLP - Gestión Dirección de Accesibilidad</h2>
            <h1 class="h4 text-gray-900 mb-4">Crear una cuenta</h1>
          </div>
          <form class="user row g-3" [formGroup]="signupForm" (ngSubmit)="onSubmit()" autocomplete="on">
            <div class="col-12">
              <h3 class="h6 text-gray-600 mb-0 fw-bold">Datos personales y de contacto:</h3>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="text" id="inputFirstName" class="form-control form-control-user rounded-pill"
                       [class.is-invalid]="isInvalid(name)" [class.is-valid]="isValid(name)"
                       placeholder="Nombre" name="name" formControlName="name" required
                       aria-describedby="nameFeedback" autocomplete="name">
                <label for="inputFirstName">Nombre:</label>
                <div id="nameFeedback" class="invalid-feedback">
                  {{ name?.errors?.['required'] ? 'El nombre es obligatorio.' : '' }}
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="text" id="inputLastName" class="form-control form-control-user rounded-pill"
                       [class.is-invalid]="isInvalid(lastname)" [class.is-valid]="isValid(lastname)"
                       placeholder="Apellido" name="lastname" formControlName="lastname"
                       aria-describedby="lastnameFeedback" autocomplete="family-name">
                <label for="inputLastName">Apellido:</label>
                <div id="lastnameFeedback" class="invalid-feedback">
                  {{ lastname?.errors?.['required'] ? 'El apellido es obligatorio.' : '' }}
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="number" id="inputDni" class="form-control form-control-user rounded-pill"
                       [class.is-invalid]="isInvalid(documentNumber)" [class.is-valid]="isValid(documentNumber)"
                       placeholder="DNI" name="documentNumber" formControlName="documentNumber"
                       aria-describedby="documentNumberFeedback">
                <label for="inputDni">DNI:</label>
                <div id="documentNumberFeedback" class="invalid-feedback">
                  {{ documentNumber?.errors?.['required'] ? 'El DNI es obligatorio.' : '' }}
                  {{ documentNumber?.errors?.['pattern'] ? 'Ingresa un DNI válido (sólo números).' : '' }}
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="tel" id="inputPhone" class="form-control form-control-user rounded-pill"
                       [class.is-invalid]="isInvalid(phone)" [class.is-valid]="isValid(phone)"
                       placeholder="Teléfono" name="phone" formControlName="phone"
                       aria-describedby="phoneFeedback" autocomplete="tel">
                <label for="inputPhone">Teléfono:</label>
                <div id="phoneFeedback" class="invalid-feedback">
                </div>
              </div>
            </div>
            <div class="col-12">
              <h3 class="h6 text-gray-600 mb-0 mt-2 fw-bold">Datos de inicio de sesión:</h3>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="email" id="inputEmail" class="form-control form-control-user rounded-pill"
                       [class.is-invalid]="isInvalid(username)" [class.is-valid]="isValid(username)"
                       placeholder="E-mail" name="username" formControlName="username"
                       aria-describedby="usernameFeedback" autocomplete="email">
                <label for="inputEmail">E-mail:</label>
                <div id="usernameFeedback" class="invalid-feedback">
                  {{ username?.errors?.['required'] ? 'El e-mail es obligatorio.' : '' }}
                  {{ username?.errors?.['email'] ? 'Ingresa un e-mail válido.' : '' }}
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="email" id="inputEmailRetype" class="form-control form-control-user rounded-pill"
                       [class.is-invalid]="isInvalid(usernameRetype)" [class.is-valid]="isValid(usernameRetype)"
                       placeholder="Repetir e-mail" name="usernameRetype" formControlName="usernameRetype"
                       aria-describedby="usernameRetypeFeedback">
                <label for="inputEmailRetype">Repetir e-mail:</label>
                <div id="usernameRetypeFeedback" class="invalid-feedback">
                  {{ usernameRetype?.errors?.['usernameMismatch'] ? 'Los e-mails deben coincidir.' : '' }}
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="password" id="inputPassword" class="form-control form-control-user rounded-pill"
                       [class.is-invalid]="isInvalid(password)" [class.is-valid]="isValid(password)"
                       placeholder="Contraseña" name="password" formControlName="password"
                       aria-describedby="passwordFeedback" autocomplete="new-password">
                <label for="inputPassword">Contraseña:</label>
                <div id="passwordFeedback" class="invalid-feedback">
                  {{ password?.errors?.['required'] ? 'La contraseña es obligatoria.' : '' }}
                  {{ password?.errors?.['usernamePasswordMatch'] ? 'El email y la contraseña no pueden ser iguales.' : '' }}
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="password" id="inputPasswordRetype" class="form-control form-control-user rounded-pill"
                       [class.is-invalid]="isInvalid(passwordRetype)" [class.is-valid]="isValid(passwordRetype)"
                       placeholder="Repetir contraseña" name="passwordRetype" formControlName="passwordRetype"
                       aria-describedby="passwordRetypeFeedback" autocomplete="new-password">
                <label for="inputPasswordRetype">Repetir contraseña:</label>
                <div id="passwordRetypeFeedback" class="invalid-feedback">
                  {{ passwordRetype?.errors?.['passwordMismatch'] ? 'Las contraseñas deben coincidir.' : '' }}
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="d-grid mt-2">
                <button type="submit" class="btn btn-primary btn-user rounded-pill"
                        [disabled]="!signupForm.valid || isDoingSignup">
                  @if (!isDoingSignup) {
                    Registrarse
                  } @else {
                    <output aria-live="polite">
                      <span class="spinner-border spinner-border-sm"></span> Registrando...
                    </output>
                  }
                </button>
              </div>
              <hr>
              <div class="d-grid gap-3">
                <button type="button" class="btn btn-google btn-user rounded-pill disabled">
                  <fa-icon [icon]="googleIcon" [fixedWidth]="true"></fa-icon>
                  Registrarse con Google
                </button>
                <button type="button" class="btn btn-facebook btn-user rounded-pill disabled">
                  <fa-icon [icon]="facebookIcon" [fixedWidth]="true"></fa-icon>
                  Registrarse con Facebook
                </button>
              </div>
            </div>
          </form>
          <div class="row g-3 text-center">
            <div class="col-12">
              <hr>
              <a class="small link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
                 routerLink="/auth/recuperar-clave">Olvidé mi contraseña</a>
              <br>
              <a class="small link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
                 routerLink="/auth/login">Ya tengo una cuenta</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
