<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <p class="mb-2">Copyright &copy; 2025. Autores: Martín Ezequiel Tau, Joaquín Tommasi.</p>
      <p class="mb-0"><small>Este software es libre y de código abierto, con licencia
        <a target="_blank" href="https://www.gnu.org/licenses/agpl-3.0-standalone.html">AGPL-3.0
          <fa-icon [icon]="faExternalLinkAlt" size="xs"></fa-icon>
        </a>. El código fuente está disponible en
        <a target="_blank" href="https://github.com/taumartin/unlp-dir-accesibilidad">GitHub
          <fa-icon [icon]="faExternalLinkAlt" size="xs"></fa-icon>
        </a>.</small></p>
    </div>
  </div>
</footer>
