<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
    [class.toggled]="toggled">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon">
      <img src="/assets/img/unlp_logo_40x40.png" alt="UNLP Logo">
    </div>
    <div class="sidebar-brand-text mx-3">UNLP - Dir. Accesibilidad</div>
  </a>

  <!-- Sidebar - Navigation -->
  <ng-container *ngFor="let navGroup of navLinkGroups; let isFirst = first">
    <!-- Divider -->
    <hr class="sidebar-divider" [class.my-0]="isFirst">

    <!-- Heading -->
    <div class="sidebar-heading" *ngIf="navGroup.heading">
      {{ navGroup.heading }}
    </div>

    <!-- Nav Item -->
    <li class="nav-item" routerLinkActive="active" *ngFor="let navLinkItem of navGroup.navLinks">
      <ng-container *ngIf="navLinkItem.children?.length; else pepe">
        <a class="nav-link" data-toggle="collapse" href="javascript:void(0);"
           [class.collapsed]="navLinkItem.isCollapsed"
           (click)="collapse.toggle()"
           [attr.aria-expanded]="!navLinkItem.isCollapsed"
           [attr.aria-controls]="collapse">
          <fa-icon *ngIf="navLinkItem.icon" [fixedWidth]="true" [icon]="navLinkItem.icon"></fa-icon>
          <span #label>{{ navLinkItem.label }}</span>
          <fa-icon class="icon-after" [icon]="navLinkItem.isCollapsed ? iconRight : iconDown"></fa-icon>
        </a>
        <div class="collapse" [attr.aria-labelledby]="label" data-parent="#accordionSidebar"
             #collapse="ngbCollapse" [(ngbCollapse)]="navLinkItem.isCollapsed!">
          <div class="bg-white py-2 collapse-inner rounded">
            <ng-container *ngFor="let child of navLinkItem.children; let isChildFirst = first">
              <div *ngIf="!isChildFirst" class="collapse-divider"></div>
              <h6 *ngIf="child.heading" class="collapse-header">{{ child.heading }}</h6>
              <a *ngFor="let childLink of child.navLinks" class="collapse-item" routerLinkActive="active"
                 [routerLink]="childLink.route">{{ childLink.label }}</a>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-template #pepe>
        <a class="nav-link" [routerLink]="navLinkItem.route" routerLinkActive="active">
          <fa-icon *ngIf="navLinkItem.icon" [fixedWidth]="true" [icon]="navLinkItem.icon"></fa-icon>
          <span>{{ navLinkItem.label }}</span>
        </a>
      </ng-template>
    </li>
  </ng-container>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggleSideNavigation()">
      <fa-icon [icon]="toggled ? iconRight : iconLeft"></fa-icon>
    </button>
  </div>
</ul>
