<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-topbar></app-topbar>

      <!-- Page Content -->
      <div class="container-fluid">
        <router-outlet/>
      </div>

    </div>

    <!-- Footer -->
    <app-footer></app-footer>

  </div>

</div>

<!-- Scroll to Top Button-->
<button class="scroll-to-top rounded" (click)="scrollToTop()"
        [class.opacity-100]="showScrollTop"
        [class.opacity-0]="!showScrollTop">
  <fa-icon [icon]="iconUp"></fa-icon>
</button>
