<!-- Page Heading -->
<app-page-heading heading="UNLP - Gestión Dirección de Accesibilidad"></app-page-heading>

<!-- Page Content -->
<div class="text-center">
  <h2 class="h4 text-gray-900 mb-4 fw-bold">Bienvenid&#64; al sistema de gestión de la Dirección de Accesibilidad</h2>
  <h3 class="h5 text-gray-900 mb-4">Ingresa con tus credenciales desde el menú ubicado en la esquina superior derecha y
    accede a las diferentes secciones del sitio desde la barra de navegación ubicada sobre el lateral izquierdo de la
    pantalla.</h3>
  <h4 class="h6 mb-4 text-danger">Algunas funcionalidades se encuentran deshabilitadas en esta versión
    inicial del sitio, mientras son desarrolladas. Por cualquier problema en el funcionamiento del sitio, o bien, si
    para poder realizar tus gestiones necesitas una funcionalidad actualmente inexistente, contacta con el administrador
    del sistema.</h4>
</div>
