<app-crud-layout [labels]="labels"
                 [dtColumns]="dtColumns"
                 [dtSource]="dtSource"
                 [entityModalBodyTemplate]="createModal"
                 [formInvalid]="!modelForm.valid"
                 [isSaving]="isCreating || isUpdating"
                 [isDeleting]="isDeleting"
                 [(isEditionEnabled)]="isEditing"
                 [isEntityModified]="isModified()"
                 (entityModalOpen)="onEntityModalOpen($event)"
                 (entityModalSave)="onSave($event)"
                 (entityModalDelete)="onDelete()"></app-crud-layout>

<ng-template #createModal let-modal>
  <form class="row g-3" [formGroup]="modelForm" (ngSubmit)="onSave(modal)" autocomplete="off">
    <div class="col-12 col-md-6 order-1">
      <label for="inputNombre" class="form-label required">Nombre:</label>
      <input type="text" id="inputNombre" class="form-control"
             [class.is-invalid]="!readonlyInputs && isInvalid(nombre)"
             [class.is-valid]="!readonlyInputs && isValid(nombre)"
             placeholder="Juan" name="nombre" formControlName="nombre" required maxlength="100"
             aria-describedby="nombreFeedback" [readonly]="readonlyInputs">
      <div id="nombreFeedback" class="invalid-feedback">
        {{ nombre?.errors?.['required'] ? 'El nombre es obligatorio.' : '' }}
        {{ nombre?.errors?.['maxlength'] ? 'El nombre es muy largo.' : '' }}
        {{ nombre?.errors?.['backend'] ?? '' }}
      </div>
    </div>
    <div class="col-12 col-md-6 order-2">
      <label for="inputApellido" class="form-label required">Apellido:</label>
      <input type="text" id="inputApellido" class="form-control"
             [class.is-invalid]="!readonlyInputs && isInvalid(apellido)"
             [class.is-valid]="!readonlyInputs && isValid(apellido)"
             placeholder="Pérez" name="apellido" formControlName="apellido" required maxlength="100"
             aria-describedby="apellidoFeedback" [readonly]="readonlyInputs">
      <div id="apellidoFeedback" class="invalid-feedback">
        {{ apellido?.errors?.['required'] ? 'El apellido es obligatorio.' : '' }}
        {{ apellido?.errors?.['maxlength'] ? 'El apellido es muy largo.' : '' }}
        {{ apellido?.errors?.['backend'] ?? '' }}
      </div>
    </div>
    <div class="col-12 col-md-6 order-3 order-md-4 order-lg-3">
      <label for="inputDni" class="form-label required">DNI:</label>
      <input type="number" id="inputDni" class="form-control"
             [class.is-invalid]="!readonlyInputs && isInvalid(dni)"
             [class.is-valid]="!readonlyInputs && isValid(dni)"
             placeholder="33444555" name="dni" formControlName="dni" required
             minlength="8" maxlength="8" min="10000000" max="99999999"
             aria-describedby="dniHelp dniFeedback" [readonly]="readonlyInputs">
      <div id="dniHelp" class="form-text">
        Sin puntos.
      </div>
      <div id="dniFeedback" class="invalid-feedback">
        {{ dni?.errors?.['required'] ? 'El DNI es obligatorio.' : '' }}
        {{ (dni?.errors?.['min'] || dni?.errors?.['max'] || dni?.errors?.['pattern']) ? 'Ingresa un DNI válido.' : '' }}
        {{ dni?.errors?.['backend'] ?? '' }}
      </div>
    </div>
    <div class="col-12 col-lg-6 order-4 order-md-3 order-lg-4">
      <label for="inputEmail" class="form-label required">E-mail:</label>
      <input type="email" id="inputEmail" class="form-control"
             [class.is-invalid]="!readonlyInputs && isInvalid(email)"
             [class.is-valid]="!readonlyInputs && isValid(email)"
             placeholder="usuario@ejemplo.com" name="email" formControlName="email" required maxlength="100"
             aria-describedby="emailFeedback" [readonly]="readonlyInputs">
      <div id="emailFeedback" class="invalid-feedback">
        {{ email?.errors?.['required'] ? 'El e-mail es obligatorio.' : '' }}
        {{ email?.errors?.['maxlength'] ? 'El e-mail es muy largo.' : '' }}
        {{ email?.errors?.['email'] ? 'Ingresa un e-mail válido.' : '' }}
        {{ email?.errors?.['backend'] ?? '' }}
      </div>
    </div>
    <div class="col-12 col-md-6 order-5">
      <label for="inputTelefono" class="form-label">Teléfono:</label>
      <input type="tel" id="inputTelefono" class="form-control"
             [class.is-invalid]="!readonlyInputs && isInvalid(telefono)"
             [class.is-valid]="!readonlyInputs && isValid(telefono)"
             placeholder="221 3333-4444" name="telefono" formControlName="telefono" maxlength="25"
             aria-describedby="telefonoFeedback" [readonly]="readonlyInputs">
      <div id="telefonoFeedback" class="invalid-feedback">
        {{ telefono?.errors?.['maxlength'] ? 'El teléfono es muy largo.' : '' }}
        {{ telefono?.errors?.['backend'] ?? '' }}
      </div>
    </div>
    <button type="submit" class="d-none"
            [disabled]="!modelForm.valid || isCreating || isUpdating"><!--Permite hacer submit con ENTER--></button>
  </form>
</ng-template>
