<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-topbar></app-topbar>

      <!-- Page Content -->
      <div class="container-fluid">
        <router-outlet/>
      </div>

    </div>

    <!-- Footer -->
    <app-footer></app-footer>

  </div>

</div>

<!-- Scroll to Top Button-->
<button class="scroll-to-top rounded" (click)="scrollToTop()"
   [class.opacity-100]="showScrollTop"
   [class.opacity-0]="!showScrollTop">
  <fa-icon [icon]="iconUp"></fa-icon>
</button>

<!-- Logout Modal--> <!-- FIXME: mover -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>
